{% extends 'base.html.twig' %}



{% block body %}
<h1 style="text-align:right">{{ title }}</h1>





<div class="jumbotron">
  <h2 class="display-4">Redécouvrir Dieu par la Raison</h2>
  <p class="lead">Pédagogie Spirituelle.</p>
  <p>Un regard islamique sur le monde moderne.</p>
  <hr class="my-4">

    <a class="btn btn-perso btn-lg" href="#" role="button">Voir la collection</a>

</div>



<div class="jumbotron">
  <h2 class="display-4">Le Vote musulman en République française</h2>
  <p class="lead">ou comment s'en remettre à Dieu dans des actes sincères et responsables.</p>
  <hr class="my-4">
    <a class="btn btn-perso btn-lg" href="#" role="button">Commencer à lire</a>

</div>


<div class="jumbotron">
  <h2 class="display-4">Tribune Libre<sup> (nouveau !)<sup></h2>
  <p class="lead">Vous souhaitez partager ce que vous savez sur la religion, sur Dieu ou tout autre sujet lié, n'hésiter pas à vous exprimer.</p>
  <hr class="my-4">
    <a class="btn btn-perso btn-lg" href="#" role="button">Prendre la Parole</a>

</div>


{% endblock %}
