<!DOCTYPE html>
<html>
    <head>


        <meta charset="UTF-8">
        <!-- <title>{% block title %}Welcome!{% endblock %}</title> -->
        <title>{{title}}</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.min.js"></script>

		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
		<link rel="stylesheet" type="text/css" href="/css/style.css">

        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    	

			
	{% include 'navbar.html.twig' %}

		<div class="container">
		        {% block body %}{% endblock %}
		</div>




    <footer>

        <div class="logos">

            <a href="http://symfony.com" target="_blank" title="Aller sur le site officiel de Symfony">
                <img src="/img/logos/symfony.png" width="42" height="50" alt="Symfony" title="Symfony">
            </a>

            <a href="http://www.w3.org/TR/html5/" target="_blank" title="Aller sur le site officiel du W3C">
                <img src="/img/logos/html5.png" width="50" height="50" alt="HTML5" title="HTML5">
            </a>

            <a href="http://www.w3.org/Style/CSS/current-work" target="_blank" title="Aller sur le site officiel du W3C">
                <img src="img/logos/css3.png" width="35" height="50" alt="CSS3" title="CSS3">
            </a>

            <img src="/img/logos/jquery.png" width="50" height="50" alt="JQuery" title="JQuery">

            <a href="http://getbootstrap.com/" target="_blank" title="Aller sur le site officiel de Bootstrap">
                <img src="/img/logos/bootstrap.png" width="40" height="40" alt="Bootstrap" title="Bootstrap">
            </a>
        </div>

    </footer>
        {% block javascripts %}{% endblock %}


    </body>
</html>
